*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.buttons{
    border-radius: 50%;
}

body{
    height: 100vh;
    max-width: 100vw;
    font-family: sans-serif;
    
}
#page-container {
    position: relative;
    min-height: 100vh;
    overflow: scroll;
  }
header{
    height: 30%;
    width: 99.9%;
    border: 2px solid rgb(214, 211, 211);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

#addBtn{
    height: 80px;
    width: 80px;
    
    border: none;
    background: dodgerblue;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    text-align: center;
}
#addBtn:hover{
    background: rgb(140, 197, 255);
   
}
#body{
    max-width: 99%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.ticket-container{
    height: 500px;
    width: 400px;
    margin: 10px;
    -webkit-margin-collapse:collapse;
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 211, 211);
    box-shadow: 0px 0px 5px rgb(32, 32, 32);
    overflow:hidden;
    
}
.ticket-header{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 2px rgb(32, 32, 32);
    
}
.ticket-header button{
    height: 30px;
    width: 30px;
    margin: 2px;
    margin-right:20px;
    border: none;
    box-shadow: 0px 0px 5px rgb(32, 32, 32);
    color: white;
    font-size: 20px;
    
}

.minimize-btn{
    background: green;
    
}
.minimize-btn:hover{
    background: rgb(77, 206, 77);
    
}
.e-btn{
    background-color: coral;
}
.e-btn:hover{
    background-color: rgb(255, 177, 148);
}
.close-btn{
    background: lightgreen;
}
.close-btn:hover{
    background: rgb(199, 255, 199);
}

.minimize-it{
    transition: transform;
    transform-origin: top;
    transform: scaleY(0);
}
.minimized{
    height: 15%;
    
}

.ticket-body{
    height: 86%;
    width: 100%;
}
.ticket-text{
    margin: 5%;
    height: 90%;
    width: 90%;
    padding: 10px 0px 0px 10px;
    background-color: white;
    border-radius: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }

  
  /* The Close Button */
  .close {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border:none;
    position: absolute;
    left:98%;
    top:-4%;
    text-align: center;
    color: white;
    background-color: rgb(240, 36, 36);
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    background-color: rgb(255, 80, 80);
    text-decoration: none;
    cursor: pointer;
  }

    /* Modal Content */
.modal-content {
    background-color: #5ed9ff;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 25px rgb(0, 0, 0);
    width: 60%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
.modal-content h1{
    height: 10%;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 1%;
}

.modal-content textarea{
    border : 1px solid rgb(196, 196, 196);
    font-size: 22px;
    padding: 10px;
}

.modal-content .heading{
    height: 7%;
    width: 100%;
    background-color: white;
    color: grey;
    
}  
.modal-content .content{
    height: 70%;
    width: 100%;
    background-color: white;
    color: grey;
    font-size: 20px; 
    
}  


#addTicket{
    align-self: flex-start;
    margin-top: 1%;
    height: 30px;
    width: 100px;
    font-size: 18px;
    padding: 0px;
}

footer{
    height: 25px;
    width: 100%;
    background-color: forestgreen;
    color: rgb(0, 0, 0);
    font-size: 30px;
    position: absolute;
    bottom: 0;
}
.hidden{
    display: none;
}